.pagination > .active > a {
    color: black;
    background-color: crimson !Important;
    border: solid 1px crimson !Important;
}

.pagination > .page-item > a {
    color: crimson;
}

a {
  font-weight: bold;
  color: crimson;
}

.dropdown-item:active{
  background-color: crimson;
  color: white;
}

.hidden-menu{
  display: none;
}

.select2-selection__choice{
  background-color: crimson !important;
  border-color: crimson !important;
}

.nav-link.active{
  background-color: crimson !important;
}

.navbar-primary{
  background-color: crimson !important;
}

.table{
  width: 99%;
}

.swal2-icon img {
  margin-right: 10px; /* Adjust the margin value as needed */
}

.btn {
  border: none;
}

.btn-primary, .badge-primary {
  color: white;
  background-color: crimson;
}

.btn-primary:hover {
  color: white;
  background-color: black;
}

.dropdown-item:hover {
  color: white;
  background-color: crimson;
}

.nav-item:hover, .nav-item:active{
  background-color: crimson !important;
}

.nav-link:hover {
  color: white !important;
}

.nav-link.active {
  color: white !important;
}


.nav-treeview>.nav-item>.nav-link {
  color: black !important;
}

.nav-treeview>.nav-item>.nav-link:hover {
  color: white !important;
}

.nav-treeview>.nav-item>.nav-link.active {
  color: white !important;
}

.tagify {
  width: 100%;
}

.swal2-icon {
  margin-right: 10px !important; /* Adjust the margin value as needed */
}
